<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold ms-2" href="#">
      <i class="fas fa-glasses me-1"></i>
      Wannan Jr
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Home" routerLinkActive="active">
            <i class="fas fa-home"></i> Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/About" routerLinkActive="active">
            <i class="fas fa-user"></i> About
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Products" routerLinkActive="active">
            <i class="fas fa-cogs"></i> Products
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Contact" routerLinkActive="active">
            <i class="fas fa-envelope"></i> Contact
          </a>
        </li>

        <li class="nav-item"  [hidden]="status">
          <a class="nav-link" routerLink="/UsersignUpreactive" routerLinkActive="active">
            <i class="fas fa-eye"></i> User Login
          </a>
        </li>

        <li class="nav-item" [hidden]="!status">
          <a class="nav-link" (click)="logOut()" >
            <i class="fas fa-eye"></i> User Logout
          </a>
        </li>

        <!-- <li class="nav-item" >
          <a class="nav-link" routerLink="/AddNewProduct" routerLinkActive="active" >
            <i class="fas fa-plus-circle"></i> Add New Product
          </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/product" routerLinkActive="active">
            <i class="fas fa-cog"></i> Admin
          </a>
        </li>

        <li class="nav-item">
          <button class="btn btn-outline-light ms-2" routerLink="/ProductsParent" routerLinkActive="active">Go To Cart</button>
        </li>
      </ul>
    </div>
  </div>
</nav>